<!DOCTYPE html>
<html>
  <head>
    <title>Fail</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Fail</h1>
    <p>Fail</p>
    <a href="/auth/github">Login To Github</a>
  </body>
</html>
