<!DOCTYPE html>
<html>
  <head>
    <title>Success</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Success</h1>
    <p>SuccessFull</p>
    <!-- <a href="/auth/github">Login To Github</a> -->
  </body>
</html>
